{% extends "base.html" %}

{% block content %}
<div class="basis">
    <div>
        <img style="margin-left: 225px;" src="../static/images/Image_for_changing.png" width="425" height="425">
    </div>
    <br>
    <div class="bio">"Место, где творятся чудеса!"</div>
    <br>
    <p class="bio">
        Приветсвую вас, {{current_user.nickname}} в таком чудесном месте, как <b><big>"АватароЧенджия"!</big></b>
        Именно здесь вы можете изменить свою <i>стандартную и тусклую аватарку</i> на что-то более властное
        и привлекательное!
        Итак, всё просто - загрузите ваше изображение в нашу систему и наслаждайтесь своей красивой
        аватаркой!
    </p>
    <br>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="photo">Выберите файл</label><br><br>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Изменить аватар!</button>
    </form>
</div>
{% endblock %}