{% extends "base.html" %}

{% block content %}
<div class="basis">
    <div>
        <img src="../static/images/knight копия.png" width="96" height="100">
    </div>
    <br>
    <p class="bio">Итак, {{current_user.nickname}} видимо настало ваше время расширить свою команду для игр! Здесь вы можете <big><ins>подписаться</ins></big> на своего знакомого
        или рандомного человека, а с помощью нашего <b><i>телеграм-бота</i></b> вы получите <big><ins>информацию для контакта с ним</ins></big>!
    Чего же вы ждёте? Вперёд, на поиски!</p>
    <table>
        <tr>
            <td>
                <p class="bio" style="margin-left: 550px; color: grey;"><big>Кол-во подписчиков: 0</big></p>
            </td></tr>
        <tr>
            <td>
                <p class="bio" style="margin-left: 550px; color: grey;"><big>Кол-во подписок: 0</big></p>
            </td></tr>

    </table>

    <br>
    <p class="bio">
        Ниже вы можете лицезреть список всех зарегистрировавшихся пользователей! Удачи в выборе <i>сокомандника ^-^</i>!
    </p>
    <br>
    <div style="margin-top: 10px; margin-left: 30px">
        <table style="float: left">
            {% for item in spisok_nicknames %}
            <tr>
                <td>
                    {{ item }}
                </td>
                <td>
                    <a href="/subscribe/{{spisok_nicknames[loop.index - 1]}}" style="margin-left: 50px; color: white">
                        Подписаться
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
</div>
{% endblock %}