{% extends "base.html" %}

{% block content %}

<div class="basis">
    <div>
        <img src="../static/images/knight копия.png" width="96" height="100">
    </div><br>
    <div class="root">
        <img src="../static/images/email.svg" width="33" height="25">
        <a href="mailto:matvey23lin@gmail.com" style="color: white">
            matvey23lin@gmail.com
        </a>
        <img src="../static/images/discord.png" width="25" height="25" style="margin-left: 20px">
        <a>Discord: WaiTeF#1001</a>
    </div>
    <br>
    <div class="bio">Привет! Я WaiTeF. Я самопровозглашенный разработчик игр и программист.</div><br>
    <div class="bio">
        В моем портфолио не так уж и много игр, но вот одна из них.
        Я решил поделится ей, создав этот сайт. Отсюда вы можете перейти в репозиторий на Github,
        а оттуда уже скачать архив с игрой и ознакомиться с ней.
        Вы читаете бета версию вступительного текста, возможно в будущем он изменится.
        Оставайтесь на связи и следите за обновлениями.
    </div><br>
    <div class="root">
        <img src="../static/images/email.svg" width="33" height="25">
        <a href="SerkovMaxsim@yandex.ru" style="color: white">
            SerkovMaxsim@yandex.ru
        </a>
        <img src="../static/images/discord.png" width="25" height="25" style="margin-left: 20px">
        <a>Discord: MSI_Archangel#8489</a>
    </div>
    <br>
    <div class="bio">Привет! Я MSI_Archangel. Я так же самопровозглашенный разработчик игр и программист.</div><br>
    <div class="bio">
        К сожалению, я не был никаким образом задействован в разработке этой замечательной игры.
        Но помогал в развитие и написании этого прекрасного сайта! Я очень рад, что стал частью команду по его созданию.
    </div>

    <h1 class="root">Проект</h1>
    <img src="../static/images/head knight.png" class="projectimg">
    <h2>Head Knight</h2>
    <div class="bio">
        Экшен игра, в которой действия разворачиваются в подземелье.
        В ней игроку предстоит сразиться с монстрами.
        В игре ещё много интересного!
    </div><br>
    <div class="bio">Удачи в прохождении, путник!</div><br>
    <a href="https://github.com/MatveyLinkov/Head-Knight_game" class="github">Github</a>
</div>
{% endblock %}