{% extends "base.html" %}

{% block content %}
<div class="basis">
    <center>
        <h1>Войти</h1>
    </center>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }} <br>
            {{ form.login(class="form-control") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert"> {{ error }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert"> {{ error }}</div>
            {% endfor %}
        </p>
        <div>
            <p>
                {{ form.submit(class="btn btn-primary", type="submit") }}
                <a href="register" style="text-decoration: none; color: #7F858A; float: right" >
                    Регистрация
                </a>
            </p>
        </div>
        <div>{{ message }}</div>
    </form>
</div>
{% endblock %}